<a href="https://colab.research.google.com/github/Melvinmcrn/Project_ML_Soccer-world-cup-2018/blob/master/Soccer%20World%20Cup%202018%20Winner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sb
import numpy as np
%matplotlib inline

# **Data**

there are 3 datasets here.<br>
1. **rankings**: FIFA ranking and points for the teams, which is a monthly changing rank previously shown as a decent predictor of team performance<br>
2. **matches**: used to find out how much the difference in point, ranks and the current rank of the team affects the outocme of a match<br>
3. **world_cup**: upcoming matches

In [0]:
rankings = pd.read_csv('https://raw.githubusercontent.com/Melvinmcrn/Project_ML_Soccer-world-cup-2018/master/data/fifa_ranking.csv')
matches = pd.read_csv('https://raw.githubusercontent.com/Melvinmcrn/Project_ML_Soccer-world-cup-2018/master/data/results.csv')
world_cup = pd.read_csv('https://raw.githubusercontent.com/Melvinmcrn/Project_ML_Soccer-world-cup-2018/master/data/World%20Cup%202018%20Dataset.csv')

### **Prepare 'rankings'**

In [19]:
rankings.head()

   rank country_full  ... confederation   rank_date
0     1      Germany  ...          UEFA  1993-08-08
1     2        Italy  ...          UEFA  1993-08-08
2     3  Switzerland  ...          UEFA  1993-08-08
3     4       Sweden  ...          UEFA  1993-08-08
4     5    Argentina  ...      CONMEBOL  1993-08-08

[5 rows x 16 columns]

In [20]:
rankings = rankings.loc[:,['rank', 'country_full', 'country_abrv', 'cur_year_avg_weighted', 'rank_date', 'two_year_ago_weighted', 'three_year_ago_weighted']]
rankings = rankings.replace({"IR Iran": "Iran"})
rankings['weighted_points'] =  rankings['cur_year_avg_weighted'] + rankings['two_year_ago_weighted'] + rankings['three_year_ago_weighted']
rankings['rank_date'] = pd.to_datetime(rankings['rank_date'])
rankings.head()

   rank country_full  ... three_year_ago_weighted  weighted_points
0     1      Germany  ...                     0.0              0.0
1     2        Italy  ...                     0.0              0.0
2     3  Switzerland  ...                     0.0              0.0
3     4       Sweden  ...                     0.0              0.0
4     5    Argentina  ...                     0.0              0.0

[5 rows x 8 columns]

### **Prepare 'matches'**

In [21]:
matches.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [22]:
matches =  matches.replace({'Germany DR': 'Germany', 'China': 'China PR'})
matches['date'] = pd.to_datetime(matches['date'])
matches.head()

        date home_team away_team  ...     city   country neutral
0 1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1 1873-03-08   England  Scotland  ...   London   England   False
2 1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3 1875-03-06   England  Scotland  ...   London   England   False
4 1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

### **Prepare 'world_cup'**

In [23]:
world_cup.head()

           Team Group  ...  history with\n third opponent\n goals  Unnamed: 19
0        Russia     A  ...                                    0.0          NaN
1  Saudi Arabia     A  ...                                   -5.0          NaN
2         Egypt     A  ...                                    5.0          NaN
3       Uruguay     A  ...                                    0.0          NaN
4       Porugal     B  ...                                    5.0          NaN

[5 rows x 20 columns]

In [24]:
world_cup = world_cup.loc[:, ['Team', 'Group', 'First match \nagainst', 'Second match\n against', 'Third match\n against']]
world_cup = world_cup.dropna(how='all')
world_cup = world_cup.replace({"IRAN": "Iran", 
                               "Costarica": "Costa Rica", 
                               "Porugal": "Portugal", 
                               "Columbia": "Colombia", 
                               "Korea" : "Korea Republic"})
world_cup = world_cup.set_index('Team')
world_cup.head(10)

             Group  ... Third match\n against
Team                ...
Russia           A  ...               Uruguay
Saudi Arabia     A  ...                 Egypt
Egypt            A  ...          Saudi Arabia
Uruguay          A  ...                Russia
Portugal         B  ...                  Iran
Spain            B  ...               Morocco
Morocco          B  ...                 Spain
Iran             B  ...              Portugal
France           C  ...               Denmark
Australia        C  ...                  Peru

[10 rows x 4 columns]

# **Feature extraction**

In [0]:
# I want to have the ranks for every day 
rankings = rankings.set_index(['rank_date'])\
            .groupby(['country_full'], group_keys=False)\
            .resample('D').first()\
            .fillna(method='ffill')\
            .reset_index()

In [26]:
rankings.head()

   rank_date   rank  ... three_year_ago_weighted weighted_points
0 2003-01-15  204.0  ...                     0.0             0.0
1 2003-01-16  204.0  ...                     0.0             0.0
2 2003-01-17  204.0  ...                     0.0             0.0
3 2003-01-18  204.0  ...                     0.0             0.0
4 2003-01-19  204.0  ...                     0.0             0.0

[5 rows x 8 columns]

In [0]:
# join the ranks
matches = matches.merge(rankings, 
                        left_on=['date', 'home_team'], 
                        right_on=['rank_date', 'country_full'])
matches = matches.merge(rankings, 
                        left_on=['date', 'away_team'], 
                        right_on=['rank_date', 'country_full'], 
                        suffixes=('_home', '_away'))

In [29]:
matches.head()

        date home_team  ... three_year_ago_weighted_away  weighted_points_away
0 1993-08-08   Bolivia  ...                          0.0                   0.0
1 1993-08-08    Brazil  ...                          0.0                   0.0
2 1993-08-08   Ecuador  ...                          0.0                   0.0
3 1993-08-08    Guinea  ...                          0.0                   0.0
4 1993-08-08  Paraguay  ...                          0.0                   0.0

[5 rows x 41 columns]